*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1{
    color:  white;
    font-weight: bold;
    font-size: 50px;
    margin: 30px 0;
    text-transform: uppercase;
}

body{
    min-height: 100vh;
    background-repeat: no-repeat;
    display: flex;
    background-image: linear-gradient(45deg, darkblue, #905af3);
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 99vw;
    height: 100%;
}

main{
    flex-direction: column;
    background-color: white;
    color: black;
    width: 60%;
    display: flex;
    border-radius: 20px;
    box-shadow: 2px 2px 5px 0 #0000007d;
    margin: 0 auto;
    padding: 30px;
}

select{
    margin: 0 auto;
    margin-top: 30px;
    width: 60%;
    height: 300px;
    overflow: hidden;
    background-color: #ffffff;
    padding: 10px 0px;
    border: none;
    outline: none;
    color: black;
}

option{
    padding: 5px 0;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}

.content h3{
    font-size: 30px;
    margin-bottom: 10px;
}

#finalizar, #add{
    cursor: pointer;
    height: 30px;
    width: 100px;
    border: none;
    background-color: #774ae1;
    color: white;
    margin: 30px auto 0 auto;
    border-radius: 5px;

}

#add{
    margin: 0;
}

#result{
    padding: 30px 0;
}

#result h3{
    padding: 0 0 30px 30px;
    width: 300px;
    margin: 0 auto;
    text-align: justify;
}

h3, #finalizar, #add, #number_text{
    font-size: 20px;
}

#number_text{
    outline: none;
    width: 150px;
    border-radius: 5px;
    border: 1px solid gray;
    height: 28px;
}

@media only screen and (max-width: 600px) {
    select{
        width: 90%;
    }

    main{
        width: 80%;
    }
    
    h1{
        font-size: 40px;
    }

    #result h3{
        width: 90%;
        padding-left: 0;
    }
}
